{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Авторизация</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">

        <link rel="stylesheet" href="{% static 'mainapp\css\fontawesome.min.css' %}"/>

        <link rel="stylesheet" href="{% static 'mainapp\css\bootstrap.min.css' %}"/>

        <link rel="stylesheet" href="{% static 'mainapp\css\templatemo-style.css' %}">
      <style type="text/css" id="operaUserStyle"></style>
    </head>
<body>
    {%for el in s%}
    <div>
        <h1>
            {{el.login}}
        <h1>
        <h1>
            {{el.level_of_access}}
        <h1> 
    </div>
    {% endfor %} 
    <!-- <div class = 'row'>
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">Авторизуйтесь</h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form action="index.html" method="post" class="tm-login-form">
                  <div class="form-group">
                    <label for="username">Логин</label>
                    <input name="username" type="text" class="form-control validate" id="username" value="" required="">
                  </div>
                  <div class="form-group mt-3">
                    <label for="password">Пароль</label>
                    <input name="password" type="password" class="form-control validate" id="password" value="" required="">
                  </div>
                  <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">
                      Войти
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->

</body>
</html>